/*---------------------------------------------------------Colours-----*/

.navbar {
    background-color: rgba(52, 84, 213, .5);
}

a {
    color: #8BFF5A;
}

.overlapping-text h1, .overlapping-text h2 {
    color: #8BFF5A;
}

.testimonials {
    background-color: #65A5EF;
}

.events-schedule {
    background-color: #8BFF5A;
}

.sign-up {
    background-color: #65A5EF;
}

.footer {    
    background-color: #8BFF5A;
}

/*--------------------------------------------------------------Text-----*/

.sub-heading {
    text-align: center;
    font-size: 48px;
    padding: 5rem;
    color: #8BFF5A;
}

.overlapping-text {
    letter-spacing: 1em;
    font-family: "Architects Daughter", sans-serif;
    font-size: 48pxx;
}

html {
    padding: 0;
    border: 0;
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

i {
    color: red;
}

p {
    margin: 0;
}

.quote-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    transform: scale(1.25, 1.25);
}

.event-tile {
    background-color: rgba(52, 84, 213, .75);
    color: #000;
    text-align: center;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 25px;
}

.hero-image { 
    height: 100vh;
  background: url(../images/hero_img2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.events-image { 
    height: 100vh;
  background: url(../images/event_img1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav a {
    font-size: 36px;
}

.navbar-brand {
    font-size: 48px;
}

h1 {
    color: white;
    font-size: 76px;
}

.quotes {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.cta-image {
    height: 80vh;
    display: block;
    align-items: center;
    padding: 80px;
    width: 100%;
    transform: scale(0.8, 1);
}

.sign-up {
    position: relative;
}

.cta-text-block {
    position: absolute;
    background-color: rgba(52, 84, 213, .75);
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 25px;
}

.cta-text {
    margin: 20px;
}

.btn {
    font-size: 20px;
    border-radius: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px;
}